.carousel {
    margin-bottom: 150px;
}

.carousel .slick-prev:before {
    font-size: 1.875rem !important; //30px;

}

.carousel .slick-next {
    right: -30px !important;
}

.carousel .slick-prev {
    left: -35px !important;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
    color: #000000;
}

.carousel .slick-dots {
    bottom: -40px;
}

.carousel .slick-list {
    margin: 0 -5px;
}

.carousel .slick-slide>div {
    padding: 0 5px;
}